<div class="container mt-3">
  <h1 class="text-center mb-4">Our Products</h1>
  <!-- Filtration bar -->
  <%= search_form_for @q, url: products_path, html: { class: "search-form row g-3 mb-4" } do |f| %>
    <!-- On Sale Filter -->
    <div class="col-md-3">
      <div class="form-check">
        <%= f.check_box :on_sale_eq, { class: 'form-check-input', id: 'on_sale' }, true, false %>
        <%= f.label :on_sale_eq, 'On Sale', class: 'form-check-label', for: 'on_sale' %>
      </div>
    </div>
    <!-- Category Filter -->
    <div class="col-md-3">
      <%= f.label :category_id_eq, 'Category', class: 'form-label' %>
      <%= f.collection_select :category_id_eq, Category.order(:name), :id, :name, { include_blank: true }, { class: 'form-select' } %>
    </div>
    <!-- New Products Filter -->
    <div class="col-md-3">
      <div class="form-check">
        <%= check_box_tag :new_products, '1', params[:new_products].present?, { class: 'form-check-input', id: 'new_products' } %>
        <%= label_tag :new_products, 'New Products', class: 'form-check-label', for: 'new_products' %>
      </div>
    </div>
    <!-- Recently Updated Filter -->

    <!-- Submit Button -->
    <div class="col-12">
      <%= f.submit 'Filter', class: 'btn btn-primary' %>
    </div>
  <% end %>

  <div class="row">
    <% @product_categories.each do |product_category| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <% if product_category.image.attached? %>
            <%= image_tag product_category.image, class: 'card-img-top uniform-image' %>
          <% else %>
            <%= image_tag 'placeholder-image.png', class: 'card-img-top uniform-image' %>
          <% end %>
          <div class="card-body">
             <h5 class="card-title">
              <%= link_to product_category.product.name, product_category_path(product_category) %>
            </h5>
            <p class="card-text"><%= product_category.category.name %></p>
            <p class="card-text"><%= number_to_currency(product_category.price) %></p>
            <% if product_category.on_sale %>
              <div style="color: red; font-weight: bold;">On Sale!</div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="pagination justify-content-center">
    <%= paginate @product_categories %>
  </div>
</div>
